<html>
<head>
    <title>Places You've Been</title>
</head>
<body>
    <h1>You added a new place you've visited</h1>
    <p>{{ newplace.getCity}} </p>
    <p><a href="/">View a list of places you've been.</a> </p>
</body>
</html>
