<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Places You've Been</title>
</head>
<body>
    <h1>You added a new place you've visited</h1>
    <p>{{ newplace.getCity}} </p>
    <p>{{ newplace.getLength}} </p>
    <p><a href="/">View a list of places you've been.</a> </p>
</body>
</html>
