<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title> Place You've Been</title>
</head>
<body>
    <h1>Cleared the List!!!</h1>
    <p> <a href="/">Home</a></p>
</body>
</html>
